fastapi==0.115.12
uvicorn[standard]==0.34.2
aiosqlite==0.21.0
asyncpg==0.30.0
psycopg2-binary==2.9.10
sqlalchemy[asyncio]==2.0.40
alembic==1.15.2
email-validator==2.2.0
python-multipart==0.0.20
requests==2.32.3
httpx==0.28.1
